* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 1440px;
    background-image: url(../bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
  }
  main {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .description {
    color: white;
    font-size: large;
    font-size: 16px;
    font-weight: 400;
    width: 30%;
  }
  .register {
    background-color: white;
    display: grid;
    padding: 50px;
    border-radius: 5px;
  }
  .register input {
    border-radius: 5px;
    padding: 10px;
  }
  .top-content {
    background-color: hsl(248, 32%, 49%);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 50px;
  }
  .top-content p {
    color: white;
    align-items: center;
    justify-content: center;
  }
  button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
  }
  strong {
    color: hsl(0, 100%, 74%);
  }
  